<ion-view view-title="About Us" style="background-color:#DCEBEF;">
<ion-content class="padding">

<!-- <label class="item item-input">
	<i class="icon ion-ios-search placeholder-icon"></i>
	<input type="text" placeholder="Search Music" ng-model="search">
</label>
	<div class="list">
		<div class="item item-icon-right" ng-repeat="item in items | filter: search">
		 First Name: {{item.first_name}}<br>Last Name: {{item.last_name}}<i class="icon ion-ios-more"></i>
		</div>
	</div> -->

<!--     <ion-list id="aboutUs-list2">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="aboutUs-list-item5" style="background-color:#DCEBEF;">
        <img src="img/2tJsjgciRT6ODgVx4tJQ_15337568_1030412393752949_8443149578407225274_n.jpg">
        <h2positive style="color: black;">Shairene C. Laurel
         <a href="https://www.facebook.com/shairene.laurel" style="white-space:normal;"><br><div style="background-color: white; width: 75px; border-radius: 50%;" align="center"><i class="ion-social-facebook" style="color: #3b5998; font-size: 70px; border-radius: 40px;"></i></div></a>
          <i class="icon ion-android-mail icon-accessory"></i>
        </h2positive>
      </ion-item>

      <br><br><br>

      <ion-item class="item-thumbnail-left item-icon-right positive" id="aboutUs-list-item10" style="background-color:#DCEBEF;">
        <img src="img/VeRK66oLTEeiqjcAxnAO_15109385_1323635144345100_8537572654387912481_n.jpg">
        <h2positive style="color: black;">Allen Pascual
          <a href="https://www.facebook.com/allenopqrs" style="white-space:normal;"><br><div style="background-color: white; width: 75px; border-radius: 50%;" align="center"><i class="ion-social-facebook" style="color: #3b5998; font-size: 70px; border-radius: 40px;"></i></div></a>
          <i class="icon ion-android-mail icon-accessory"></i>
        </h2positive>
      </ion-item>
    </ion-list> -->

<div style="position: relative; height: auto;">
<ion-slide-box does-continue="true">

   <ion-slide>
      <div class = "box box3" style="height: 100%;">
      <div style="width: 100%; text-align: center;">
        <img src="img/90IgdG0CRQWTkVZfrCKq_sport_power_danger_crime_robbery_fist_strike_knock_v3-512.png" style="width: 70%; padding-left: 0%;">
      </div><br>
          <h2 style="text-align: center;">Knock Knock</h2>
          <h4 style="text-align: center;">Is a mobile application that's connected to an IoT device which notifies the user if someone knocks on their door.</h4>
          <h5 style="text-align: center; padding-top: 25%;">KNOCK KNOCK v1.1<br>
          ©2017 ALL RIGHTS RESERVED</h5>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box1" style="height: 100%;">
      <div style="width: 100%;">
      	<img src="img/15032044_997125313748324_585171213468173283_n.jpg" style="width: 100%">
      </div>
         <ion-item class="item-thumbnail-left item-icon-right positive" id="aboutUs-list-item5" style="background-color:#DCEBEF;">
        <img src="img/2tJsjgciRT6ODgVx4tJQ_15337568_1030412393752949_8443149578407225274_n.jpg" style="border-radius: 50%;">
        <h2 style="color: black;">Shairene C. Laurel</h2>
          <h4>09123456789</h4>
        	<br>
        	<h4>Developer</h4>
        	<h4>Researcher</h4>
        	<h4></h4>
         <div style="padding-left: 15%; padding-top: 25%;"><a href="https://www.facebook.com/shairene.laurel" style="white-space:normal;"><br><div style="background-color: white; width: 75px; border-radius: 50%; border: 2px; border-style: solid; border-color: #666" align="center"><i class="ion-social-facebook" style="color: #3b5998; font-size: 70px; border-radius: 40px;"></i></div></a>
          <i class="icon ion-android-mail icon-accessory"></i></div>
        
      </ion-item>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box2" style="height: 100%;">
      <div style="width: 100%;">
      	<img src="img/17854887_1547619735262632_3137238622053402773_o.jpg" style="width: 100%">
      </div>
         <ion-item class="item-thumbnail-left item-icon-right positive" id="aboutUs-list-item10" style="background-color:#DCEBEF;">
        <img src="img/VeRK66oLTEeiqjcAxnAO_15109385_1323635144345100_8537572654387912481_n.jpg" style="border-radius: 50%;">
        <h2 style="color: black;">Allen Pascual
        	<h4>09122450273</h4>
        	<br>
        	<h4>Developer</h4>
        	<h4>Designer</h4>
          <h4></h4>

          <div style="padding-left: 15%; padding-top: 25%;"><a href="https://www.facebook.com/allenopqrs" style="white-space:normal;"><br><div style="background-color: white; width: 75px; border-radius: 50%; border: 2px; border-style: solid; border-color: #666"" align="center"><i class="ion-social-facebook" style="color: #3b5998; font-size: 70px; border-radius: 40px;"></i></div></a>
          <i class="icon ion-android-mail icon-accessory"></i></div>

        </h2>
      </ion-item>
      </div>
   </ion-slide>

</ion-slide-box>
</div>





</ion-content>
</ion-view>
<ion-footer-bar align-title="center" style="background-color:#DCEBEF;">
  <div style="position: absoulute; bottom: 0; text-align: center; width: 100%;">
    <i class = "ion-arrow-left-b" style="font-size: 40px;" ng-click = "previous()"></i> &nbsp &nbsp
    <i class = "ion-arrow-right-b" style="font-size: 40px;" ng-click = "nextSlide()"></i>
  </div>
</ion-footer-bar>

<!-- 
  <a href="tel:911">
    Call me, call me any, anytime
    <b>Call me (call me) I'll arrive</b>
    When you're ready we can share the wine!
  </a>  
-->