<ion-view view-title="Home" style="background-color:#DCEBEF;">
<ion-content>
	<div align="center" style="margin: auto; padding-top: 20%;">
	    <div>
	      <img src="img/90IgdG0CRQWTkVZfrCKq_sport_power_danger_crime_robbery_fist_strike_knock_v3-512.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
	    </div>
	    <h3 id="home-heading2" style="color:#000000;text-align:center;">Knock Knock</h3>
	    <div id="home-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
	      <p style="color:#000000;">Want to know if someone knocks on your door?<br>Wait for it.<br>I'll inform you.</p>
	    </div>
	    <button class="button button-calm icon ion-unlocked" ng-click = "showAlert()" style="border-radius: 40px; width: 90%"> Open Sessame?</button>
	    <br><br>
	    <a href="tel:911" style="text-decoration: none; font-size: 13px; color: white;">
	    <div style="border-radius: 40px; width: 80%; padding-top: 10px; height: 40px; background-color: #ef4e3a; border: 1px; border-style: solid; border-color: red;">	    
		      <b> Any unwanted guests? Emergency dial here.</b>
		</div>
		</a>
    </div>
</ion-content>
</ion-view>