<ion-view view-title="Logs" id="logs" style="background-color:#DCEBEF;">
<ion-content class="padding">
<!-- <div class="card">
	<div class="item item-avatar">
		<img src="img/ionic.png">
		<h2>Closer</h2>
	</div>
	<div class="item item-body">
		<img class="full-image padding" src="img/ionic.png" width="5%" height="5%">
		<center>
			<button class="button button-icon button-clear ion-loop"></button>
			<button class="button button-stable icon ion-skip-backward"></button>
			<button class="button button-stable icon ion-pause"></button>
			<button class="button button-stable icon ion-skip-forward"></button>
			<button class="button button-stable icon ion-shuffle"></button>
		</center>
	</div>
</div> -->

    <ion-list id="logs-list6">
      <ion-item>Knock
      	<h4 style="color: green;">Unlocked<span class="item-note">04/26/17 9:30 AM</span></h4>
      </ion-item>
      <ion-item>Knock
        <h4 style="color: red;">Ignored<span class="item-note">04/26/17 10:17 AM</span></h4>
      </ion-item>
      <ion-item>Knock
        <h4 style="color: red;">Ignored<span class="item-note">04/26/17 11:46 AM</span></h4>
      </ion-item>
      <ion-item>Knock
        <h4 style="color: red;">Ignored<span class="item-note">04/26/17 1:58 PM</span></h4>
      </ion-item>
    </ion-list>




</ion-content>
</ion-view>