<ion-view view-title="Tips" style="background-color:#DCEBEF;">
<ion-content class="padding">

<h2><b>Protecting your family starts with protecting your home.</b></h2>
<br>

<h3>Review the Exterior of Your House</h3>
<p>Start by reviewing the exterior of your property to make sure there are no broken windows or access to your property through garages or conservatories.  Lock any tools and items such as ladders away.</p>

<h3>Are Your Doors and Windows Secure?</h3>
<p>Ask a vetted, inspected and qualified locksmith to review your door and window security (including internal doors to conservatories and garages) to make sure all of your windows and doors have the most appropriate locks, they are in good condition, properly fitted and meet your insurance requirements.</p>

<h3>Beware of Opportunist Thieves</h3>
<p>Opportunist thieves can often approach houses that look like nobody is at home so consider installing a number of light timers around the house so it appears someone is home.</p>

<h3>Front and Back Door Sensor Lighting</h3>
<p>Dusk to dawn or sensor lighting to the front and back door of your home will deter potential thieves and help you gain entry into your home in the dark.</p>

<h3>Protect the Windows with Security Grilles or Bars</h3>
<p>Side windows in a house can be smashed to reach keys and gain entry so consider adding reinforced glass or maybe even block up the window.  Decorative grilles and bars can also vastly improve the security of a home without being detrimental to the aesthetics.</p>

<h3>When Were Your Keys Last Replaced?</h3>
<p>While you are reviewing your security it is also worth considering when your keys were last replaced, whether past owners or tenants may still have access to your home and whether anyone may have made copies of your keys without your knowledge.  If you are worried ask a professional locksmith to change your locks and fit a patented system, whereby keys can only be copied with proof of ownership.</p>


<h3>Common Bad Habits</h3>
<p>Consider your own influence on the level of security for your home and make sure you don’t indulge bad habits such as leaving keys in locks or in view that you and your family may have.  Simple tips such as always setting alarms, changing codes on a frequent basis and locking any side or back gates can make a substantial difference and deter attack.</p>

</ion-content>
</ion-view>